<h1> Data Science Tools and Ecosystem </h1>

<p1> In this notebook, Data Science Tools and Ecosystem are summarized. <p1>

<p2> Some of the popular languages that Data Scientists use are:</p2>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>

<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>TensorFlow</li>
</ol>

<table style="text-align: left; ">
    <tr>
    <th style="font-size: 20px">Data Science Tools</th>
    </tr>
    <tr><td>Python</td></tr>
    <tr><td>TensorFlow</td></tr>
    <tr><td>Matplotbib</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

<!-- This a simple arithmetic expression to mutiply then add integers -->
(3*4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

<p><strong>Objectives:</strong></p>
<ul>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>SQL</li>
    <li>C++</li>
</ul>

<h2>Author</h2>

<p>Akinwumi Ayomide</p>